html, body {
  height: 100%;
  width: 100%;
  
}
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  z-index: -100;
  background-image: url('https://res.sport.ro/assets/sport/2022/05/04/image_galleries/750126/abordare-complet-diferita-fata-de-fcsb-reactie-in-cazul-micului-fenomen-din-liga-1-zar-trebui-sa-fie-o_7.jpg');
  height: 100vh;
  width: 100vw;
  filter: blur(10px) brightness(50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 200%;
  background-position: center;
  transform: scale(1.1);
 
    
}

.topnav {
  overflow: hidden;
  background-color: #0C090D;
  border-radius: 25px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #C6DABF;
  color: black;
}

.topnav a.active {
  background-color: #88D498;
  color: #F8F1FF;
}




#wrapper{
  font-family: "Helvetica";
  font-size: 100px;
  color: #F8F1FF;
  text-align: center;
}
  #wrapper2{
  font-family: "Helvetica";
  font-size: 30px;
  color: #F8F1FF;
  text-align: center;
}
#subtitle{
  font-family: "Helvetica";
  font-size: 50px;
  color: #F8F1FF;
  text-align: center;
}
#datecal_upcoming{
  font-family: "Helvetica";
  font-size: 25px;
  color: #F8F1FF;
  text-align: center;
}
#datecal_past{
  font-family: "Helvetica";
  font-size: 25px;
  color: #ec2d2d;
  text-align: center;
}







/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: -30 auto;
  padding-top: 50px;
  background: #F8F1FF;
}

.timeline ul li div {
  position: relative;
  
  margin: 20px auto;
  bottom: 0;
  width: 500px;
  padding: 15px;
  color:#F8F1FF;
  background: #8D818C;
  border-radius: 25px;
  font-size: 20px;
  transition: background-color 0.5s ease-out 100ms;
  
}

.timeline ul li div:hover {
  position: relative;
  bottom: 0;
  width: 500px;
  padding: 15px;
  background: #88D498;
  border-radius: 25px;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}


.timeline ul li:nth-child(even) div {
  left: -560px;
}




time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


#quiz{
  padding-top: 50px;
  color:#F8F1FF;
  font-family: "Helvetica";
  font-size: 20px;
  color: #F8F1FF;
  text-align: center;
}
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #88D498;
	color: #F8F1FF;
	border: 0px;
	border-radius: 15px;
	padding: 20px;
	cursor: pointer;
	
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#submit:hover{
	background-color:#1A936F;
}

#quiz {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  color:#F8F1FF;
  background: #8D818C;
  border-radius: 25px;
  transition: background-color 0.5s ease-out 100ms

  display: flex;
  justify-content: center;
  margin: 20px auto;
}




#results{
  font-family: "Helvetica";
  font-size: 40px;
  color: #F8F1FF;
  text-align: center;
}





.border{
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;

  &:hover
    border: 1px solid white;
}
  
.card{
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  

.card0{
  background: url('https://media.hotnews.ro/media_server1/image-2020-02-5-23644031-41-victoria-are-chipul-lui-gica-hagi.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%; 
}
.card0:hover{
    background: url('https://media.hotnews.ro/media_server1/image-2020-02-5-23644031-41-victoria-are-chipul-lui-gica-hagi.jpg') center center no-repeat;
    background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 150%;
  }
.card1{
  background: url('https://www.romaniansoccer.ro/ewcms/uploads/modules/clasamente/players/1903-stelea.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%; 
}
.card1:hover{
    background: url('https://www.romaniansoccer.ro/ewcms/uploads/modules/clasamente/players/1903-stelea.jpg') center center no-repeat;
    background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 150%;
  }
.card2{
  background: url('https://theplaymaker.ro/wp-content/uploads/2019/09/ilie-dumitrescu-premier-league.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%; 
}
.card2:hover{
    background: url('https://theplaymaker.ro/wp-content/uploads/2019/09/ilie-dumitrescu-premier-league.jpg') center center no-repeat;
    background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 150%;
  }
.card3{
  background: url('https://s.iw.ro/gateway/g/ZmlsZVNvdXJjZT1odHRwJTNBJTJGJTJG/c3RvcmFnZTAxdHJhbnNjb2Rlci5yY3Mt/cmRzLnJvJTJGc3RvcmFnZSUyRjIwMTkl/MkYwNCUyRjExJTJGMTA2Mjc4Nl8xMDYy/Nzg2X2dpY2EtY3JhaW92ZWFudS5qcGcm/dz03MDAmaD00MjAmaGFzaD1iYjY1Y2M1/NWJjMDc4NjAxZjI4NzBhNTkzNjYwNzhmZA==.thumb.jpg') right center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%; 
}
.card3:hover{
    background: url('https://s.iw.ro/gateway/g/ZmlsZVNvdXJjZT1odHRwJTNBJTJGJTJG/c3RvcmFnZTAxdHJhbnNjb2Rlci5yY3Mt/cmRzLnJvJTJGc3RvcmFnZSUyRjIwMTkl/MkYwNCUyRjExJTJGMTA2Mjc4Nl8xMDYy/Nzg2X2dpY2EtY3JhaW92ZWFudS5qcGcm/dz03MDAmaD00MjAmaGFzaD1iYjY1Y2M1/NWJjMDc4NjAxZjI4NzBhNTkzNjYwNzhmZA==.thumb.jpg') right center no-repeat;
    background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 150%;
  }
.card4{
  background: url('https://cacheimg.gsp.ro/autocrop/smp-images-production/gsp.ro/14122020/1607954858666.jpg?width=848&height=0') center center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%; 
}
.card4:hover{
    background: url('https://cacheimg.gsp.ro/autocrop/smp-images-production/gsp.ro/14122020/1607954858666.jpg?width=848&height=0') center center no-repeat;
    background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 150%;
  }
.card5{
  background: url('https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1144x254:1146x252)/origin-imgresizer.eurosport.com/2020/04/19/2808355-57932128-2560-1440.jpg') center center no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 100%; 
}
.card5:hover{
    background: url('https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1144x254:1146x252)/origin-imgresizer.eurosport.com/2020/04/19/2808355-57932128-2560-1440.jpg') center center no-repeat;
    background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 150%;
  }

.card:hover h2{
      opacity: 1;
    }

.card:hover .fa{
      opacity: 0.4;
    }
h2{
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
  

.fa{
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
  
#container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
 
}
#container > div {
  margin: 20px;
}

  


